@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">WorldParty RD </h1>
    <p>Un mundo de fiesta para ti<a href="https://instagram.com/worldpartyrd?utm_medium=copy_link"> Conocenos a través de este enlace "worldpartyrd"</a>.</p>
</div>
